/* Assets */
:root {
  /* Colors */
  --primary: #ff7300;
  --secondary: #00b83c;
  --filler: #a0afa1;

  --black: #2a2c31;
  --black-75: rgba(42, 44, 49, 0.75);
  --black-50: rgba(42, 44, 49, 0.5);
  --black-25: rgba(42, 44, 49, 0.25);
  --black-5: rgba(42, 44, 49, 0.05);

  --white: rgba(0, 0, 0, 0.1);

  --white-text: #ffffff;

  --error: #d71c44;
}

h1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.button1 {
  align-items: center;
  background-color: var(--primary);
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: var(--white-text);
  cursor: pointer;
  display: inline-flex;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 100%;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  box-shadow: var(--primary) 0px 0px 6px 1px;
  letter-spacing: 0.1em;
}

.button1:hover,
.button1:focus {
  background-color: #e46600;
  color: var(--white-text);
}

.button1:active {
  background: var(--primary);
  color: rgb(255, 255, 255, 0.7);
}

.button1:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.button1::shadow {
  background-color: var(--primary);
  filter: blur(12px);
  border-radius: 30px;
}

body {
  background-image: url(./bg.png);
}

.h5verde {
  color: var(--secondary);
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.h3portocaliu {
  color: var(--primary);
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
}

.portocaliu {
  color: var(--primary);
}

.verde {
  color: var(--secondary);
}

.black50 {
  color: var(--black-50);
}
